
*{
    margin: 0px;
    padding: 0px;
}

html,body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden ;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('./assets/galaxia.jpg');
    //background-color: steelblue;
}

.ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input,textarea)
{
    border-bottom: 2px red solid;
  caret-color: red;
}


::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background: #8137ff;
    border-radius: 10px;
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
  //  width: 5px;
    border-radius: 5px;
}